body{
  background-color: rgb(245, 245, 245)!important;
}
.navC {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 55px;
  box-shadow: 10px 0 3px rgba(0, 0, 0, 31);
  background-color: #2896f0;
  display: flex;
  overflow-x: auto;
}
.botonColgarFoto{
  background-color: inherit;
  border: 0px;
}
.nav__icon{
  color: rgb(255, 255, 255);   
  font-size: 18px;
  transition: 0.3s;
}
.nav__icon:hover {
  color: rgb(253, 187, 255);   
  transition: 0.3s;
}


a {
  color: inherit !important;
  text-decoration: inherit !important;
}
a:hover {
  color: inherit !important;
  text-decoration: inherit !important;
}



.contenedorlogo{
  box-shadow: 0 0.9px 5px rgba(0, 0, 0, 0.2);
  background: #9053c7;
  background: -webkit-linear-gradient(-135deg, #c850c0, #4158d0);
  background: -o-linear-gradient(-135deg, #c850c0, #4158d0);
  background: -moz-linear-gradient(-135deg, #c850c0, #4158d0);
  background: linear-gradient(-135deg, #c850c0, #4158d0);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 1;

}
.logo{
    width: 175px;
  }
.navbartop{
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 25px;
}
.itemnavbar{
  margin-left: 15px;
}
/*carrousel*/

.card{
  margin: 0 auto; /* Added */
  float: none; /* Added */
  margin-top: 75px;
  background-color: white;
}

.contenedorfoto{
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-top: 125px;
}
.iconosfoto{
  width: 50px;
  height: 50px;
  border: 0px;
  background-color: inherit;
}
@media only screen and (max-width: 600px) {
.card{
  width: 18rem;
}
}

@media only screen and (min-width: 1000px) {

  .logo{
    margin-left: 200px;
  }
  .navbartop{
    margin-right: 185.7px;
  }

  .card{
    width: 50rem;
  }

  }


/*carrousel*/

/*textofoto*/

@media only screen and (max-width: 600px) {
  .textofoto{
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    display:block;
    margin-bottom: 75px;
    margin-top: 40px;
    text-align: justify;
  }
  .botonizquierda{
    margin-top: auto;
    margin-bottom: auto;
    transition: 0.3s;
  }
  .botonizquierda:hover{
    color: yellow;
    transition: 0.3s;
  }
  .botonderecha{
    margin-top: auto;
    margin-bottom: auto;
    transition: 0.3s;
  }
  .botonderecha:hover{
    color: red;
    transition: 0.3s;
  }
  .contenedortextofoto{
    margin-left: 3%;
  }
  }
  @media only screen and (min-width: 601px) {
    .botonizquierda{
      margin-left: auto;
      margin-top: auto;
      margin-bottom: auto;
      transition: 0.3s;
    }
    .botonderecha{
      margin-right: auto;
      margin-top: auto;
      margin-bottom: auto;
      transition: 0.3s;
    }
    .botonderecha:hover{
      color: red;
      transition: 0.3s;
    }
    .botonizquierda:hover{
      color: yellow;
      transition: 0.3s;
    }
    .card{
      width: 30rem;
    }
    .textofooter{
      margin-top: 10px;
    }
    }
    @media only screen and (min-width: 750px) {
      .botonizquierda{
        margin-left: auto;
        margin-top: auto;
        margin-bottom: auto;
        transition: 0.3s;
      }
      .botonderecha{
        margin-right: auto;
        margin-top: auto;
        margin-bottom: auto;
        transition: 0.3s;
      }
      .botonderecha:hover{
        color: red;
        transition: 0.3s;
      }
      .botonizquierda:hover{
        color: yellow;
        transition: 0.3s;
      }
      .card{
        width: 40rem;
      }
      .contenedorfoto{
        margin-bottom: 100px;
      }
      .textofooter{
        margin-top: 10px;
      }
      }
/*textofoto*/
  
.card-body{
  border-top: 1px solid rgba(0,0,0,.125);;
}

/*barra de desplazamiento*/
::-webkit-scrollbar{
  width: 3px;
  background-color: #F5F5F5;
}
::-webkit-scrollbar-track{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}
::-webkit-scrollbar-thumb{
  background-color: rgb(0, 68, 255); 
  background-image: -webkit-linear-gradient(90deg,rgba(255, 255, 255, .2) 25%,transparent 25%,transparent 50%,rgba(255, 255, 255, .2) 50%,rgba(255, 255, 255, .2) 75%,transparent 75%,transparent)
}



.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  
  width: 100%;
  height: 50px!important;
  background-color: rgb(245, 245, 245)!important;
  color: #26272b;
  text-align: center;
  border-top: 1px solid rgb(209, 209, 209);
}
.textofoto
{
  padding-top: 20px;
  padding-bottom: 20px;
}

.nophoto{
  text-align: center;
  margin-top:25px;
  font-family: 'Lato', sans-serif;
  font-size: 50px;
  color: #797979;
}

.contenedorlikes
{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.contenedortextofoto{
  margin-left: 1%;
}
.linkhashtag{
  color:rgb(0, 68, 255)!important;
}

.iconosfoto2
{
  background-color: inherit;
  width: 30px;
  height: 25px;
  border:0;
  transition: 0.3s;
}
.iconosfoto2:hover
{
  color: #9053c7;
  transition: 0.3s;
}

.iconosfoto2hover
{
  background-color: inherit;
  width: 30px;
  height: 25px;
  border:0;
  color: #9053c7;
}

.usernametext{
  margin-left: auto!important;
  margin-right: auto!important;
  width: fit-content!important;
  color: #b1b1b1!important;
}
.usernametext:hover{
  background-color: inherit!important;
  color: #b1b1b1!important;
}